<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="iLibrary is the best online library!">
    <meta name="author" content="Petr Šopf (xsopfp00@stud.fit.vutbr.cz); Jan Bartošek (xbarto92@stud.fit.vutbr.cz)">

    <title>iLibrary {ifset #title}| {include #title}{/ifset}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <link href="{$basePath}/css/main.css" rel="stylesheet">
    <link href="{$basePath}/css/notifications.css" rel="stylesheet">
</head>
<body>

<nav class="main-menu navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{link Homepage:}"><i class="fas fa-book-open"></i> iLibrary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{if $presenter->isLinkCurrent('Homepage:default')} active{/if}">
                    <a class="nav-link" href="{link Homepage:}">List of literature</a>
                </li>
                <li class="nav-item{if $presenter->isLinkCurrent('PriceList:default')} active{/if}">
                    <a class="nav-link" href="{link PriceList:}">Price list</a>
                </li>
                <li class="nav-item{if $presenter->isLinkCurrent('Contact:default')} active{/if}">
                    <a class="nav-link" href="{link Contact:}">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    {if $user->isLoggedIn()}
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                {$user->getIdentity()->name} {$user->getIdentity()->last_name}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                {if $user->getIdentity()->employee}
                                    <a class="dropdown-item" n:href="Employee:Literature"><i
                                                class="fas fa-list-alt"></i> Manage literature</a>
                                {else}
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                {/if}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" n:href="User:Logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            </div>
                        </div>
                    {else}
                        <a href="{link Login:}">
                            <button class="btn btn-secondary">
                                <i class="fas fa-user"></i> Member login
                            </button>
                        </a>
                    {/if}
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container h-100">
    {include content}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.18/datatables.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"
        integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
<script src="{$basePath}/js/notifications.js"></script>
<script src="{$basePath}/js/live-form-validation.js"></script>
<script>
    LiveFormOptions = {
        messageErrorPrefix: 'Error: ',
        wait: 500
    };

    {foreach $flashes as $flash}
    window.createNotification({
        closeOnClick: true,
        displayCloseButton: false,
        positionClass: 'nfc-top-right',
        showDuration: 3500,
        theme: {$flash->type|lower}
    })({
        title: {$flash->type},
        message: {$flash->message}
    });
    {/foreach}

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $('#dataTable').dataTable({
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }]
        });
    });

    $('a.removeButton').confirm({
        title: 'Are you sure?',
        content: 'Do you really want to delete this item?',
        theme: 'bootstrap',
        type: 'red',
        typeAnimated: true,
        buttons: {
            Delete: function(){
                location.href = this.$target.attr('href');
            },
            Cancel: function(){
            }
        }
    });
</script>
</body>

</html>